<h1>New Store</h1>
<form name="add-new-store" ng-submit="$ctrl.addNew()">
<table>
  <tr><td>Name:</td><td> <input required type="text" ng-model="$ctrl.name"></td></tr>
  <tr><td>Street address:</td><td> <input type="text" ng-model="$ctrl.address.street"></td></tr>
  <tr><td>City:</td><td> <input required type="text" ng-model="$ctrl.address.city"></td></tr>
  <tr><td>State:</td><td> <input required type="text" ng-model="$ctrl.address.state"></td></tr>
</table>
<div>
  <button type="submit">Add Store</button>
  <button id="cancel-add-store" ui-sref="stores.all">Cancel</button>
</div>
</form>